// RESPONSIVE
$breakpoints: (
    mobile: 0px,
    tablet: 699px,
    desktop: 1110px
);

// COLORS
$green-button: #3ab154;
$green-notification: #4fde6e;
$black-header: #212121;
$gray-border: #dadada;
$gray-inactive: #b8b8b8;
$purple-title: #b644bd;
$input-color: #757575;
