body {
	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    margin: 0px;
    padding: 0px;
}

// p {
//     color: #212121;
//     margin: 0;
// }